<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI组件之排序表格</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Table.css">
</head>
<body>
<form class="mod-form" action="/mod" method="post">
    姓名：<input placeholder="姓名" name="name" value=<%=obj.name%> > <br>
    语文：<input placeholder="语文" name="ch" value=<%=obj.ch%> > <br>
    数学：<input placeholder="数学" name="ma" value=<%=obj.ma%> > <br>
    英语：<input placeholder="英语" name="en" value=<%=obj.en%> > <br>
    <input style="margin: 10px" type="submit" value="修改">
</form>
</body>
</html>