<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">
	<link href="/stylesheets/font-awesome.min.css" type="text/javascript" rel="stylesheet">
	<link href="/stylesheets/bootsnav.css" type="text/css" rel="stylesheet">
	<link href="/stylesheets/normalize.css" type="text/css" rel="stylesheet">
	<link href="/stylesheets/css.css" rel="stylesheet" type="text/css">
	<script src="/javascripts/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.step.js"></script>
	<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="/javascripts/bootsnav.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.js" type="text/javascript"></script>
	<!--[if IE]><script src="js/html5.js"></script><![endif]-->
	<title>注册</title>
</head>

<body class="logobg_style">
	<div id="large-header" class="large-header login-page">
		<canvas id="demo-canvas" width="1590" height="711"></canvas>
		<div class="Retrieve_style">
			<div class="Retrieve-content step-body" id="myStep">
				<h1 class="title_name">用户注册</h1>
				<div class="step-header">
					<ul>
						<li>
							<p>输入号码和密码</p>
						</li>
					</ul>
				</div>
				<div class="step-content">
					<div class="step-list login_padding">
						<form action="/registered" method="POST" role="form" id="form_login" class="">
							<div class="form-group clearfix">
								<div class="input-group col-lg-8 col-md-8 col-xs-8">
									<div class="input-group-addon"><i class="icon_phone"></i></div>
									<input type="text" class="form-control text_phone" name="Username" id="Username"
										placeholder="UserName" autocomplete="off">
								</div>
								<div class="col-lg-4 col-md-4 col-xs-4 fl"><input type="button" id="btn"
										class="btn_mfyzm" value="(*^▽^*)" onclick="Sendpwd(this)" /></div>
							</div>
							<div class="form-group clearfix">
								<div class="input-group">
									<div class="input-group-addon"><i class="icon_yanzhen"></i></div>
									<input type="text" class="form-control" name="password" id="Verification"
										placeholder="PassWord" autocomplete="off">
								</div>
							</div>
							<div class="tishi"></div>
							<div class="form-group">
								<button class="btn btn-danger btn-block btn-login" id="applyBtn">Next</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/javascripts/TweenLite.min.js"></script>
	<script src="/javascripts/EasePack.min.js"></script>
	<script src="/javascripts/rAF.js"></script>
	<script src="/javascripts/demo-1.js"></script>
</body>

</html>
<script type="text/javascript"></script>