<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="button" onclick="add()" value="新增">
    <table>
        <% for(let o of data){ %>
        <tr>
            <td><%=o.id%></td>
            <td><%=o.name%></td>
            <td><%=o.ch%></td>
            <td><%=o.ma%></td>
            <td><%=o.en%></td>
            <td><button class="upd_admin" data_id="<%=o.id %>">修改</button></td>
        </tr>
        <%}%>
    </table>
    <script src="/javascripts/text.js"></script>
</body>
</html>